.search,
.refer_list {
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin: 20px 0;
  padding: 15px 10px;
  border-radius: 5px;
}

.search h5 {
  font-size: 1.1rem;
}
.search p {
  font-size: 0.9rem;
}

.search input {
  width: 100%;
  border: 1px solid #f0f0f0;
  background-color: transparent;
  color: #212529;
  padding: 8px 5px 8px 45px;
  border-radius: 50px;
  outline: none;
  font-size: 1.2rem;
}

.search input::placeholder {
  font-size: 1.2rem;
}

.copy {
  background-color: transparent;
  color: #212529;
  border: none;
  outline: none;
  cursor: pointer;
}

.refer_list h6 {
  font-size: 0.9rem;
}
.pending {
  background-color: #fc0;
  color: #212529;
  padding: 5px 10px;
  border-radius: 5px;
}
.success {
  background-color: #198754;
  color: #212529;
  padding: 5px 10px;
  border-radius: 5px;
}

.search_container {
  position: relative;
}

.search_icon {
  position: absolute;
  top: 12px;
  left: 10px;
  color: #212529;
}
